.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 7px 21px;
    gap: 10px;
    border: none;

    border-radius: 7px;
}

.bg-gradient {
    background: linear-gradient(90deg, #9F83F1 0%, #7C7FCA 100%);
}

.bg-gradient:hover {
    box-shadow: 0px 0px 7px #7C7FCA
}

.bg-gradient:active {
    mix-blend-mode: normal;
    opacity: 0.7;
}

.bg-flat {
    background: #7C7FCA;
}

.bg-flat:hover {
    box-shadow: 0px 0px 7px #7C7FCA
}

.bg-flat:active {
    mix-blend-mode: normal;
    opacity: 0.7;
}

.container * {
    color: #FFFFFF
}